/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/components/BlogCard/blogCard.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.blogCard_cardImg__xhiR_ {
  aspect-ratio: 21/9;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  min-width: 10rem;
  transition: filter var(--animation-duration) ease-in-out;
  display: flex;
  flex-wrap: wrap;
} 
.blogCard_cardImgA__2cZOy{
  position: relative;
}
.blogCard_cardImgA__2cZOy:hover {
  opacity: 1;
}
.blogCard_cardImg__xhiR_:hover {
  filter: brightness(0.8);
}

.blogCard_tagContainer__DgLZj {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 4%;
}

.blogCard_blogCard__ZmScr {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
  margin-bottom: 1rem;
}

.blogCard_blogList__boksF {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  gap: 1.5rem; 
  max-width: 1600px;
}

.blogCard_blogCardContent__AGcuT {
  height: 100%;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
}

.blogCard_blogCardTitle__EQK0m {
  font-size: 1.5rem;
  font-weight: 600;
  display: block;
}

.blogCard_blogCardDate__NUKfc {
  font-size: 1rem;
  opacity: 0.6;
  margin: 0;
  margin-left: 0.8rem;
  display: inline;
  position: relative;
}

.blogCard_blogCardDate__NUKfc::before {
  display: block;
  position: absolute;
  top: 15%;
  left: -0.8rem;
  content: '';
  width: 2px;
  height: 70%;
  background-color: var(--blue);
}
.blogCard_blogCardP__mYY66 {
  margin-top: 0.6rem;
  font-size: 1rem;
  line-height: 1.3rem;
  word-spacing: 1px;
  margin-bottom: 0;
  overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
           line-clamp: 4; 
   -webkit-box-orient: vertical;
}

@media only screen and (max-width: 815px) {
  .blogCard_blogCard__ZmScr {
  display: flex;
  flex-wrap: wrap;
  }
  .blogCard_blogCardContent__AGcuT {
    padding-left: 0; 
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/components/Pill/pill.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.pill_container__0bA3u {
  font-size: 0.7rem;
  border-radius: 4rem;
  padding: 4px 10px 4px 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
  margin-left: 0.5rem;
}

